<div class="card shadow-lg compact bg-base-200">
  <div class="h-28 flex flex-wrap content-center justify-between">
    <div class="flex items-center px-4 text-xl">
      Playlist Services</div>
    <div class="p-4">
      <ul class="menu items-stretch px-3 shadow-lg horizontal rounded-box">
        <li>
          <a id="signup" href="/signup"> Signup </a>
        </li>
        <li class="bordered">
          <a id="login" class="item" href="/login"> Login </a>
        </li>
      </ul>
    </div>
  </div>
</div>
